<%- include header%>
<link rel="stylesheet" href="/js/skin/minimalist.css">
<script src="/js/flowplayer.min.js"></script>

<div class="container">
    <div class="flowplayer" data-swf="/video/flowplayer.swf" data-ratio="0.4167">
        <video>
            <source type="video/mp4" src="/video/video.mp4">
        </video>
    </div>

</div>
<%- include footer%>